body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #d7d7d7;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-productos {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    width: 200px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-checkout,
.btn-volver {
    text-decoration: none;
    padding: 8px 12px;
    background: black;
    color: white;
    border-radius: 5px;
}

.btn-eliminar {
    background: crimson;
    color: white;
}

.btn-finalizar {
    background: green;
    color: white;
}